
.categories__row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.categories__column {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}